<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nl.smith.account.persistence.AccountMapper">

	<insert id="persist" parameterType="nl.smith.account.domain.Mutation">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">SELECT
			nextval('account.mutation_id_seq')
		</selectKey>
		INSERT INTO account.mutation(
		id
		, accountnumber
		, currency
		, interestdate
		, balancebefore
		, balanceafter
		, transactiondate
		, amount
		, description
		)
		VALUES(
		#{id}
		, #{accountNumber}
		, #{currency}
		, #{interestDate}
		,
		#{balanceBefore}
		, #{balanceAfter}
		, #{transactionDate}
		, #{amount}
		, #{description}
		);
	</insert>

	<select id="getTransactionDatesToBePostProcessed" resultType="date">
		SELECT DISTINCT transactiondate
		FROM account.mutation
		WHERE
		ordernumber =
		-1
	</select>

	<select id="getMutationIdsToBeprocessedForDate" parameterType="date"
		resultType="integer">
		SELECT id
		FROM account.mutation
		WHERE
		transactiondate =
		#{value}
		ORDER BY
		id
	</select>

	<update id="setOrdernumberForMutationWithId" parameterType="map">
		UPDATE account.mutation
		SET
		ordernumber = #{ordernumber}
		WHERE
		id = #{id}
	</update>

	<delete id="deleteAll">
		DELETE FROM account.mutation
	</delete>

</mapper>