<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nl.smith.account.persistence.MutationMapper">
	<resultMap id="mutation" type="nl.smith.account.domain.Mutation"
		autoMapping="true" />
		
	<insert id="persist" parameterType="nl.smith.account.domain.Mutation">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">SELECT
			nextval('account.mutation_id_seq')
		</selectKey>
		INSERT INTO mutation(
		id
		, accountnumber
		, currency
		, interestdate
		, balancebefore
		, balanceafter
		, transactiondate
		, amount
		, description
		, ordernumber
		, remark
		)
		VALUES(
		#{id}
		, #{accountNumber}
		, #{currency}
		, #{interestDate}
		, #{balanceBefore}
		, #{balanceAfter}
		, #{transactionDate}
		, #{amount}
		, #{description}
		, #{ordernumber}
		, #{remark}
		);
	</insert>

	<insert id="persistRawMutation" parameterType="nl.smith.account.domain.Mutation">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">SELECT
			nextval('account.rawmutation_id_seq')
		</selectKey>
		INSERT INTO rawmutation(
		id
		, accountnumber
		, transactiondate
		, amount
		, description
		, ordernumber
		)
		VALUES(
		#{id}
		, #{accountNumber}
		, #{transactionDate}
		, #{amount}
		, #{description}
		, #{ordernumber}
		);
	</insert>
	
	<select id="getMutations" resultMap="mutation">
		SELECT *
		FROM mutation
		ORDER BY transactiondate, ordernumber
	</select>

	<delete id="deleteAll">
		DELETE FROM mutation
	</delete>

</mapper>